<div class="row" id="header">
  <div class="col-sm-12">
    <nav class="navbar navbar-default" id="header">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          
          <p class="navbar-text navbar-right">
              <%= link_to "Sign Up", root_path, class: 'navbar-link' %> |
              <%= link_to "Sign In", root_path, class: 'navbar-link'%>
          </p>
        </div>
      </div>
    </nav>
  </div>
</div>
